$white: #FFFFFF;
$black: #2C2A25;

$gray: #C6C6C6;
$gray-minus-1: #E5E5E5;
$gray-minus-2: #F4F4F4;

$blue-plus-1: #64BBBF;
$blue: #80C3C6;
$blue-minus-1: #ECF6F6;
$blue-minus-2: #F5FAFA;

$red: #C94545;
